# =============================================================================
# MinIO Configuration
# =============================================================================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=http://minio:9000

# =============================================================================
# Spark Configuration
# =============================================================================
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2


# =============================================================================
# Apache Airflow Configuration
# =============================================================================
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=airflow123
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:postgres@postgres:5432/postgres
AIRFLOW__CELERY__RESULT_BACKEND=redis://:@redis:6379/0
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0
AIRFLOW__CORE__FERNET_KEY=YlCImzjge_TeZc7jPJ7Jz2pgOvzVkVhKa-qcAQgLO1o=


# =============================================================================
# Database Configuration
# =============================================================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
